{{define "index"}}
{{template "header"}}
    
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td>Jesús</td>
            <td>ladval19@gmail.com</td>
            <td>Editar | Borrar</td>
        </tr>
    </tbody>
</table>

{{template "footer"}} 
{{end}}